body { 
    width: 80%; 
    margin-left: auto; 
    margin-right: auto; 
    min-height: 100%;
    height: 100%;
    background-color: #119911;
    border-radius: 20px;
    color: #FFFFFF;
}

html { 
    background-color: #004400;
    height: 100%;
}

#map { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 600px; 
    width: 800px;
}

#field_name {
    margin-left: auto; 
    margin-right: auto; 
    width: 800px;
    text-align: center;
    vertical-align: middle;    
}
